@import url("https://fonts.googleapis.com/css2?family=Inter%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&family=Inconsolata%3Aital%2Cwght%400%2C400%3B0%2C500%3B0%2C600%3B0%2C700&display=swap");

.plasmic_tokens {
  --token-IiHVs9wt17QE: 24px;
  --plasmic-token-large-copy: var(--token-IiHVs9wt17QE);
}

.plasmic_tokens {
  --plsmc-standard-width: 800px;
  --plsmc-wide-width: 1280px;
  --plsmc-viewport-gap: 16px;
  --plsmc-wide-chunk: calc(
    ((var(--plsmc-wide-width) - var(--plsmc-standard-width)) / 2) -
      var(--plsmc-viewport-gap)
  );
}

.plasmic_default_styles {
  --mixin-FNPaivFBPEWA_font-family: "Inter", sans-serif;
  --mixin-FNPaivFBPEWA_font-size: 16px;
  --mixin-FNPaivFBPEWA_font-weight: 400;
  --mixin-FNPaivFBPEWA_font-style: normal;
  --mixin-FNPaivFBPEWA_color: #eeeeee;
  --mixin-FNPaivFBPEWA_text-align: left;
  --mixin-FNPaivFBPEWA_text-transform: none;
  --mixin-FNPaivFBPEWA_line-height: 1.5;
  --mixin-FNPaivFBPEWA_letter-spacing: normal;
  --mixin-FNPaivFBPEWA_white-space: pre-wrap;
  --mixin-FNPaivFBPEWA_user-select: text;
  --mixin-FNPaivFBPEWA_text-decoration-line: none;
  --mixin-FNPaivFBPEWA_text-overflow: clip;
  --mixin-qBf3eS9Hhuee_color: #ffffff;
  --mixin-qBf3eS9Hhuee_font-weight: 700;
  --mixin-qBf3eS9Hhuee_font-size: 96px;
  --mixin-qBf3eS9Hhuee_line-height: 1;
  --mixin-qBf3eS9Hhuee_letter-spacing: -5px;
  --mixin-qBf3eS9Hhuee_white-space: pre-wrap;
  --mixin-bZxnWE8BNFcG_font-family: "Inter", sans-serif;
  --mixin-bZxnWE8BNFcG_color: #ffffff;
  --mixin-bZxnWE8BNFcG_font-size: 60px;
  --mixin-bZxnWE8BNFcG_font-weight: 700;
  --mixin-bZxnWE8BNFcG_letter-spacing: -3px;
  --mixin-bZxnWE8BNFcG_line-height: 1.1;
  --mixin-bZxnWE8BNFcG_white-space: pre-wrap;
  --mixin-fWZkel7HFI_n_color: #0070f3;
  --mixin-fWZkel7HFI_n_white-space: pre-wrap;
  --mixin-sw_CMLIcS5o7_font-family: "Inter", sans-serif;
  --mixin-sw_CMLIcS5o7_color: #ffffff;
  --mixin-sw_CMLIcS5o7_font-size: 30px;
  --mixin-sw_CMLIcS5o7_font-weight: 700;
  --mixin-sw_CMLIcS5o7_letter-spacing: -1.5px;
  --mixin-sw_CMLIcS5o7_line-height: 1.2;
  --mixin-sw_CMLIcS5o7_white-space: pre-wrap;
  --mixin-h4IKkC3GWPLg_font-family: "Inter", sans-serif;
  --mixin-h4IKkC3GWPLg_color: #000000;
  --mixin-h4IKkC3GWPLg_font-size: 24px;
  --mixin-h4IKkC3GWPLg_font-weight: 600;
  --mixin-h4IKkC3GWPLg_letter-spacing: -0.5px;
  --mixin-h4IKkC3GWPLg_line-height: 1.3;
  --mixin-h4IKkC3GWPLg_white-space: pre-wrap;
  --mixin-UqGnxClcmEty_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-UqGnxClcmEty_border-bottom-color: #dddddd;
  --mixin-UqGnxClcmEty_border-bottom-style: solid;
  --mixin-UqGnxClcmEty_border-bottom-width: 1px;
  --mixin-UqGnxClcmEty_border-left-color: #dddddd;
  --mixin-UqGnxClcmEty_border-left-style: solid;
  --mixin-UqGnxClcmEty_border-left-width: 1px;
  --mixin-UqGnxClcmEty_border-right-color: #dddddd;
  --mixin-UqGnxClcmEty_border-right-style: solid;
  --mixin-UqGnxClcmEty_border-right-width: 1px;
  --mixin-UqGnxClcmEty_border-top-color: #dddddd;
  --mixin-UqGnxClcmEty_border-top-style: solid;
  --mixin-UqGnxClcmEty_border-top-width: 1px;
  --mixin-UqGnxClcmEty_border-bottom-left-radius: 3px;
  --mixin-UqGnxClcmEty_border-bottom-right-radius: 3px;
  --mixin-UqGnxClcmEty_border-top-left-radius: 3px;
  --mixin-UqGnxClcmEty_border-top-right-radius: 3px;
  --mixin-UqGnxClcmEty_font-family: "Inconsolata";
  --mixin-UqGnxClcmEty_padding-bottom: 1px;
  --mixin-UqGnxClcmEty_padding-left: 4px;
  --mixin-UqGnxClcmEty_padding-right: 4px;
  --mixin-UqGnxClcmEty_padding-top: 1px;
  --mixin-UqGnxClcmEty_white-space: pre-wrap;
  --mixin-S8ofiudm7cR9_border-left-color: #dddddd;
  --mixin-S8ofiudm7cR9_border-left-style: solid;
  --mixin-S8ofiudm7cR9_border-left-width: 3px;
  --mixin-S8ofiudm7cR9_color: #888888;
  --mixin-S8ofiudm7cR9_padding-left: 10px;
  --mixin-S8ofiudm7cR9_white-space: pre-wrap;
  --mixin-_3WyBX2uGRcf_background: linear-gradient(#f8f8f8, #f8f8f8);
  --mixin-_3WyBX2uGRcf_border-bottom-color: #dddddd;
  --mixin-_3WyBX2uGRcf_border-bottom-style: solid;
  --mixin-_3WyBX2uGRcf_border-bottom-width: 1px;
  --mixin-_3WyBX2uGRcf_border-left-color: #dddddd;
  --mixin-_3WyBX2uGRcf_border-left-style: solid;
  --mixin-_3WyBX2uGRcf_border-left-width: 1px;
  --mixin-_3WyBX2uGRcf_border-right-color: #dddddd;
  --mixin-_3WyBX2uGRcf_border-right-style: solid;
  --mixin-_3WyBX2uGRcf_border-right-width: 1px;
  --mixin-_3WyBX2uGRcf_border-top-color: #dddddd;
  --mixin-_3WyBX2uGRcf_border-top-style: solid;
  --mixin-_3WyBX2uGRcf_border-top-width: 1px;
  --mixin-_3WyBX2uGRcf_border-bottom-left-radius: 3px;
  --mixin-_3WyBX2uGRcf_border-bottom-right-radius: 3px;
  --mixin-_3WyBX2uGRcf_border-top-left-radius: 3px;
  --mixin-_3WyBX2uGRcf_border-top-right-radius: 3px;
  --mixin-_3WyBX2uGRcf_font-family: "Inconsolata";
  --mixin-_3WyBX2uGRcf_padding-bottom: 3px;
  --mixin-_3WyBX2uGRcf_padding-left: 6px;
  --mixin-_3WyBX2uGRcf_padding-right: 6px;
  --mixin-_3WyBX2uGRcf_padding-top: 3px;
  --mixin-_3WyBX2uGRcf_white-space: pre-wrap;
  --mixin-VSOsGrFGJIpB_display: flex;
  --mixin-VSOsGrFGJIpB_flex-direction: column;
  --mixin-VSOsGrFGJIpB_align-items: stretch;
  --mixin-VSOsGrFGJIpB_justify-content: flex-start;
  --mixin-VSOsGrFGJIpB_list-style-position: outside;
  --mixin-VSOsGrFGJIpB_padding-left: 40px;
  --mixin-VSOsGrFGJIpB_position: relative;
  --mixin-VSOsGrFGJIpB_list-style-type: disc;
  --mixin-VSOsGrFGJIpB_white-space: pre-wrap;
  --mixin-ChxUlRnnGg7U_display: flex;
  --mixin-ChxUlRnnGg7U_flex-direction: column;
  --mixin-ChxUlRnnGg7U_align-items: stretch;
  --mixin-ChxUlRnnGg7U_justify-content: flex-start;
  --mixin-ChxUlRnnGg7U_list-style-position: outside;
  --mixin-ChxUlRnnGg7U_padding-left: 40px;
  --mixin-ChxUlRnnGg7U_position: relative;
  --mixin-ChxUlRnnGg7U_list-style-type: decimal;
  --mixin-ChxUlRnnGg7U_white-space: pre-wrap;
  --mixin-j0_6SQHrw5bx_font-family: "Inter", sans-serif;
  --mixin-j0_6SQHrw5bx_color: #000000;
  --mixin-j0_6SQHrw5bx_font-size: 20px;
  --mixin-j0_6SQHrw5bx_font-weight: 600;
  --mixin-j0_6SQHrw5bx_letter-spacing: -0.3px;
  --mixin-j0_6SQHrw5bx_line-height: 1.5;
  --mixin-j0_6SQHrw5bx_white-space: pre-wrap;
  --mixin-O-GkcMTpOaGS_font-family: "Inter", sans-serif;
  --mixin-O-GkcMTpOaGS_color: #000000;
  --mixin-O-GkcMTpOaGS_font-size: 16px;
  --mixin-O-GkcMTpOaGS_font-weight: 600;
  --mixin-O-GkcMTpOaGS_line-height: 1.5;
  --mixin-O-GkcMTpOaGS_white-space: pre-wrap;
  --mixin-A1sO97yg0dfK_color: #3291ff;
  --mixin-A1sO97yg0dfK_white-space: pre-wrap;
}

@media (min-width: 0px) and (max-width: 768px) {
  .plasmic_default_styles {
    --mixin-qBf3eS9Hhuee_font-size: 48px;
    --mixin-qBf3eS9Hhuee_letter-spacing: -2px;
    --mixin-qBf3eS9Hhuee_white-space: pre-wrap;
  }
}

:where(.all) {
  display: block;
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  position: relative;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}
:where(.__wab_expr_html_text *) {
  white-space: inherit;
  grid-row: auto;
  grid-column: auto;
  background: none;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  box-shadow: none;
  box-sizing: border-box;
  text-decoration-line: none;
  margin: 0;
  border-width: 0px;
}

:where(.img) {
  display: inline-block;
}
:where(.__wab_expr_html_text img) {
  white-space: inherit;
}

:where(.li) {
  display: list-item;
}
:where(.__wab_expr_html_text li) {
  white-space: inherit;
}

:where(.span) {
  display: inline;
  position: static;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text span) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.input) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text input) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: linear-gradient(#ffffff, #ffffff);
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.textarea) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text textarea) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  padding: 2px;
  border: 1px solid lightgray;
}

:where(.button) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}
:where(.__wab_expr_html_text button) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
  background-image: none;
  align-items: flex-start;
  text-align: center;
  padding: 2px 6px;
  border: 1px solid lightgray;
}

:where(.code) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text code) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.pre) {
  font-family: inherit;
  line-height: inherit;
}
:where(.__wab_expr_html_text pre) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
}

:where(.p) {
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}
:where(.__wab_expr_html_text p) {
  white-space: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
  color: inherit;
  text-transform: inherit;
}

:where(.h1) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h1) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h2) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h2) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h3) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h3) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h4) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h4) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h5) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h5) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.h6) {
  font-size: inherit;
  font-weight: inherit;
}
:where(.__wab_expr_html_text h6) {
  white-space: inherit;
  font-size: inherit;
  font-weight: inherit;
}

:where(.address) {
  font-style: inherit;
}
:where(.__wab_expr_html_text address) {
  white-space: inherit;
  font-style: inherit;
}

:where(.a) {
  color: inherit;
}
:where(.__wab_expr_html_text a) {
  white-space: inherit;
  color: inherit;
}

:where(.ol) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ol) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.ul) {
  list-style-type: none;
  padding: 0;
}
:where(.__wab_expr_html_text ul) {
  white-space: inherit;
  list-style-type: none;
  padding: 0;
}

:where(.select) {
  padding: 2px 6px;
}
:where(.__wab_expr_html_text select) {
  white-space: inherit;
  padding: 2px 6px;
}

.plasmic_default__component_wrapper {
  display: grid;
}
.plasmic_default__inline {
  display: inline;
}
.plasmic_page_wrapper {
  display: flex;
  width: 100%;
  min-height: 100vh;
  align-items: stretch;
  align-self: start;
}
.plasmic_page_wrapper > * {
  height: auto !important;
}
.__wab_expr_html_text {
  white-space: normal;
}
:where(.root_reset) {
  font-family: var(--mixin-FNPaivFBPEWA_font-family);
  font-size: var(--mixin-FNPaivFBPEWA_font-size);
  font-weight: var(--mixin-FNPaivFBPEWA_font-weight);
  font-style: var(--mixin-FNPaivFBPEWA_font-style);
  color: var(--mixin-FNPaivFBPEWA_color);
  text-align: var(--mixin-FNPaivFBPEWA_text-align);
  text-transform: var(--mixin-FNPaivFBPEWA_text-transform);
  line-height: var(--mixin-FNPaivFBPEWA_line-height);
  letter-spacing: var(--mixin-FNPaivFBPEWA_letter-spacing);
  white-space: var(--mixin-FNPaivFBPEWA_white-space);
}

:where(.root_reset) h1:where(.h1),
h1:where(.root_reset.h1),
:where(.root_reset .__wab_expr_html_text) h1,
:where(.root_reset_tags) h1,
h1:where(.root_reset_tags) {
  color: var(--mixin-qBf3eS9Hhuee_color);
  font-weight: var(--mixin-qBf3eS9Hhuee_font-weight);
  font-size: var(--mixin-qBf3eS9Hhuee_font-size);
  line-height: var(--mixin-qBf3eS9Hhuee_line-height);
  letter-spacing: var(--mixin-qBf3eS9Hhuee_letter-spacing);
}

:where(.root_reset) h2:where(.h2),
h2:where(.root_reset.h2),
:where(.root_reset .__wab_expr_html_text) h2,
:where(.root_reset_tags) h2,
h2:where(.root_reset_tags) {
  font-family: var(--mixin-bZxnWE8BNFcG_font-family);
  color: var(--mixin-bZxnWE8BNFcG_color);
  font-size: var(--mixin-bZxnWE8BNFcG_font-size);
  font-weight: var(--mixin-bZxnWE8BNFcG_font-weight);
  letter-spacing: var(--mixin-bZxnWE8BNFcG_letter-spacing);
  line-height: var(--mixin-bZxnWE8BNFcG_line-height);
}

:where(.root_reset) a:where(.a),
a:where(.root_reset.a),
:where(.root_reset .__wab_expr_html_text) a,
:where(.root_reset_tags) a,
a:where(.root_reset_tags) {
  color: var(--mixin-fWZkel7HFI_n_color);
}

:where(.root_reset) h3:where(.h3),
h3:where(.root_reset.h3),
:where(.root_reset .__wab_expr_html_text) h3,
:where(.root_reset_tags) h3,
h3:where(.root_reset_tags) {
  font-family: var(--mixin-sw_CMLIcS5o7_font-family);
  color: var(--mixin-sw_CMLIcS5o7_color);
  font-size: var(--mixin-sw_CMLIcS5o7_font-size);
  font-weight: var(--mixin-sw_CMLIcS5o7_font-weight);
  letter-spacing: var(--mixin-sw_CMLIcS5o7_letter-spacing);
  line-height: var(--mixin-sw_CMLIcS5o7_line-height);
}

:where(.root_reset) h4:where(.h4),
h4:where(.root_reset.h4),
:where(.root_reset .__wab_expr_html_text) h4,
:where(.root_reset_tags) h4,
h4:where(.root_reset_tags) {
  font-family: var(--mixin-h4IKkC3GWPLg_font-family);
  color: var(--mixin-h4IKkC3GWPLg_color);
  font-size: var(--mixin-h4IKkC3GWPLg_font-size);
  font-weight: var(--mixin-h4IKkC3GWPLg_font-weight);
  letter-spacing: var(--mixin-h4IKkC3GWPLg_letter-spacing);
  line-height: var(--mixin-h4IKkC3GWPLg_line-height);
}

:where(.root_reset) code:where(.code),
code:where(.root_reset.code),
:where(.root_reset .__wab_expr_html_text) code,
:where(.root_reset_tags) code,
code:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-UqGnxClcmEty_font-family);
  border-radius: var(--mixin-UqGnxClcmEty_border-top-left-radius)
    var(--mixin-UqGnxClcmEty_border-top-right-radius)
    var(--mixin-UqGnxClcmEty_border-bottom-right-radius)
    var(--mixin-UqGnxClcmEty_border-bottom-left-radius);
  padding: var(--mixin-UqGnxClcmEty_padding-top)
    var(--mixin-UqGnxClcmEty_padding-right)
    var(--mixin-UqGnxClcmEty_padding-bottom)
    var(--mixin-UqGnxClcmEty_padding-left);
  border-top: var(--mixin-UqGnxClcmEty_border-top-width)
    var(--mixin-UqGnxClcmEty_border-top-style)
    var(--mixin-UqGnxClcmEty_border-top-color);
  border-right: var(--mixin-UqGnxClcmEty_border-right-width)
    var(--mixin-UqGnxClcmEty_border-right-style)
    var(--mixin-UqGnxClcmEty_border-right-color);
  border-bottom: var(--mixin-UqGnxClcmEty_border-bottom-width)
    var(--mixin-UqGnxClcmEty_border-bottom-style)
    var(--mixin-UqGnxClcmEty_border-bottom-color);
  border-left: var(--mixin-UqGnxClcmEty_border-left-width)
    var(--mixin-UqGnxClcmEty_border-left-style)
    var(--mixin-UqGnxClcmEty_border-left-color);
}

:where(.root_reset) blockquote:where(.blockquote),
blockquote:where(.root_reset.blockquote),
:where(.root_reset .__wab_expr_html_text) blockquote,
:where(.root_reset_tags) blockquote,
blockquote:where(.root_reset_tags) {
  color: var(--mixin-S8ofiudm7cR9_color);
  padding-left: var(--mixin-S8ofiudm7cR9_padding-left);
  border-left: var(--mixin-S8ofiudm7cR9_border-left-width)
    var(--mixin-S8ofiudm7cR9_border-left-style)
    var(--mixin-S8ofiudm7cR9_border-left-color);
}

:where(.root_reset) pre:where(.pre),
pre:where(.root_reset.pre),
:where(.root_reset .__wab_expr_html_text) pre,
:where(.root_reset_tags) pre,
pre:where(.root_reset_tags) {
  background: #f8f8f8;
  font-family: var(--mixin-_3WyBX2uGRcf_font-family);
  border-radius: var(--mixin-_3WyBX2uGRcf_border-top-left-radius)
    var(--mixin-_3WyBX2uGRcf_border-top-right-radius)
    var(--mixin-_3WyBX2uGRcf_border-bottom-right-radius)
    var(--mixin-_3WyBX2uGRcf_border-bottom-left-radius);
  padding: var(--mixin-_3WyBX2uGRcf_padding-top)
    var(--mixin-_3WyBX2uGRcf_padding-right)
    var(--mixin-_3WyBX2uGRcf_padding-bottom)
    var(--mixin-_3WyBX2uGRcf_padding-left);
  border-top: var(--mixin-_3WyBX2uGRcf_border-top-width)
    var(--mixin-_3WyBX2uGRcf_border-top-style)
    var(--mixin-_3WyBX2uGRcf_border-top-color);
  border-right: var(--mixin-_3WyBX2uGRcf_border-right-width)
    var(--mixin-_3WyBX2uGRcf_border-right-style)
    var(--mixin-_3WyBX2uGRcf_border-right-color);
  border-bottom: var(--mixin-_3WyBX2uGRcf_border-bottom-width)
    var(--mixin-_3WyBX2uGRcf_border-bottom-style)
    var(--mixin-_3WyBX2uGRcf_border-bottom-color);
  border-left: var(--mixin-_3WyBX2uGRcf_border-left-width)
    var(--mixin-_3WyBX2uGRcf_border-left-style)
    var(--mixin-_3WyBX2uGRcf_border-left-color);
}

:where(.root_reset) ul:where(.ul),
ul:where(.root_reset.ul),
:where(.root_reset .__wab_expr_html_text) ul,
:where(.root_reset_tags) ul,
ul:where(.root_reset_tags) {
  display: var(--mixin-VSOsGrFGJIpB_display);
  flex-direction: var(--mixin-VSOsGrFGJIpB_flex-direction);
  align-items: var(--mixin-VSOsGrFGJIpB_align-items);
  justify-content: var(--mixin-VSOsGrFGJIpB_justify-content);
  list-style-position: var(--mixin-VSOsGrFGJIpB_list-style-position);
  padding-left: var(--mixin-VSOsGrFGJIpB_padding-left);
  position: var(--mixin-VSOsGrFGJIpB_position);
  list-style-type: var(--mixin-VSOsGrFGJIpB_list-style-type);
  flex-column-gap: var(--mixin-VSOsGrFGJIpB_flex-column-gap);
}

:where(.root_reset) ol:where(.ol),
ol:where(.root_reset.ol),
:where(.root_reset .__wab_expr_html_text) ol,
:where(.root_reset_tags) ol,
ol:where(.root_reset_tags) {
  display: var(--mixin-ChxUlRnnGg7U_display);
  flex-direction: var(--mixin-ChxUlRnnGg7U_flex-direction);
  align-items: var(--mixin-ChxUlRnnGg7U_align-items);
  justify-content: var(--mixin-ChxUlRnnGg7U_justify-content);
  list-style-position: var(--mixin-ChxUlRnnGg7U_list-style-position);
  padding-left: var(--mixin-ChxUlRnnGg7U_padding-left);
  position: var(--mixin-ChxUlRnnGg7U_position);
  list-style-type: var(--mixin-ChxUlRnnGg7U_list-style-type);
  flex-column-gap: var(--mixin-ChxUlRnnGg7U_flex-column-gap);
}

:where(.root_reset) h5:where(.h5),
h5:where(.root_reset.h5),
:where(.root_reset .__wab_expr_html_text) h5,
:where(.root_reset_tags) h5,
h5:where(.root_reset_tags) {
  font-family: var(--mixin-j0_6SQHrw5bx_font-family);
  color: var(--mixin-j0_6SQHrw5bx_color);
  font-size: var(--mixin-j0_6SQHrw5bx_font-size);
  font-weight: var(--mixin-j0_6SQHrw5bx_font-weight);
  letter-spacing: var(--mixin-j0_6SQHrw5bx_letter-spacing);
  line-height: var(--mixin-j0_6SQHrw5bx_line-height);
}

:where(.root_reset) h6:where(.h6),
h6:where(.root_reset.h6),
:where(.root_reset .__wab_expr_html_text) h6,
:where(.root_reset_tags) h6,
h6:where(.root_reset_tags) {
  font-family: var(--mixin-O-GkcMTpOaGS_font-family);
  color: var(--mixin-O-GkcMTpOaGS_color);
  font-size: var(--mixin-O-GkcMTpOaGS_font-size);
  font-weight: var(--mixin-O-GkcMTpOaGS_font-weight);
  line-height: var(--mixin-O-GkcMTpOaGS_line-height);
}

:where(.root_reset) a:where(.a):hover,
a:where(.root_reset.a):hover,
:where(.root_reset .__wab_expr_html_text) a:hover,
:where(.root_reset_tags) a:hover,
a:where(.root_reset_tags):hover {
  color: var(--mixin-A1sO97yg0dfK_color);
}
