.root {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background: #000000;
  min-width: 0;
  min-height: 0;
  padding: 0px 24px 96px;
}
.root > :global(.__wab_flex-container) {
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  min-width: 0;
  min-height: 0;
  margin-top: calc(0px - 0px);
  height: calc(100% + 0px);
}
.root > :global(.__wab_flex-container) > *,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.root > :global(.__wab_flex-container) > picture > img,
.root > :global(.__wab_flex-container) > :global(.__wab_slot) > picture > img {
  margin-top: 0px;
}
.freeBox__iXf84 {
  display: flex;
  position: sticky;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  left: 0px;
  top: 0px;
  z-index: 1;
  backdrop-filter: blur(8px);
  min-width: 0;
  -webkit-backdrop-filter: blur(8px);
  padding: 8px;
}
.freeBox__iXf84 > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 14px);
  width: calc(100% + 14px);
}
.freeBox__iXf84 > :global(.__wab_flex-container) > *,
.freeBox__iXf84 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iXf84 > :global(.__wab_flex-container) > picture > img,
.freeBox__iXf84
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 14px;
}
.svg___28Zz {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  height: 45px;
  width: 123px;
  flex-shrink: 0;
}
.freeBox___1ScpN {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 47px;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.button__igaki:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__tpNtB {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__diowf {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__ak6W0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
@media (min-width: 0px) and (max-width: 768px) {
  .button__ak6W0:global(.__wab_instance) {
    display: none;
  }
}
.svg__kU9Yu {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg___3BOmo {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.h1__hyXzw {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  text-align: center;
  margin-top: calc(188px + 0px) !important;
  min-width: 0;
}
@media (min-width: 0px) and (max-width: 768px) {
  .h1__hyXzw {
    margin-top: calc(188px + 0px) !important;
  }
}
.text__bKyl {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  font-size: 30px;
  min-width: 0;
}
.svg__rt2Wh {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #fff;
  width: 128px;
  height: 128px;
  margin-top: calc(96px + 0px) !important;
  flex-shrink: 0;
}
.freeBox__ync0 {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__m4Skv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__m4Skv {
    margin-right: 0px;
  }
}
.freeBox___5FCb {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__sh9Hv {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-IiHVs9wt17QE);
}
.freeBox__ibQ9Q {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__vPxOf {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__vPxOf {
    grid-template-columns: 1fr;
  }
}
.freeBox__kr2Js {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__rkZa:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2___61QT0 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__tahm4 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-size: var(--token-IiHVs9wt17QE);
  min-width: 0;
}
.freeBox__w0Khy {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  max-width: 100%;
  overflow: hidden;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__vimZn {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 0px;
  height: 0px;
  max-width: 100%;
  flex-shrink: 0;
  padding: 8px;
}
.img__qeLi {
  object-fit: cover;
  width: 900px;
  height: 900px;
  flex-shrink: 0;
}
.img__qeLi > picture > img {
  object-fit: cover;
}
.freeBox__yOwJv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__fqTdR:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__fnleH {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.img__jdBa7 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  height: 50px;
  flex-shrink: 0;
}
.img__jdBa7 > picture > img {
  object-fit: cover;
}
.text__w5U5O {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text___9I1Sr {
  position: relative;
  font-size: var(--token-IiHVs9wt17QE);
}
.freeBox__cLsAx {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__aau5Z:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox___31OXb {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox___31OXb > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox___31OXb > :global(.__wab_flex-container) > *,
.freeBox___31OXb > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox___31OXb > :global(.__wab_flex-container) > picture > img,
.freeBox___31OXb
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__jdSf2 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___0SIiL {
  position: relative;
}
.button___4Ea9C:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__uecUe {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__se9Xy {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.freeBox__uJgQn {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__swOfK {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__swOfK {
    margin-right: 0px;
  }
}
.freeBox__y4Mxj {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__gFaln {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-IiHVs9wt17QE);
}
.freeBox__drozg {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__wYmO3 {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__wYmO3 {
    grid-template-columns: 1fr;
  }
}
.freeBox__tHLnd {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  grid-column-end: span 2;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__tHLnd {
    grid-column-end: span 1;
  }
}
.reveal__m53Fw:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.h2__bzQy6 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__q56Et {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 688px;
  font-size: var(--token-IiHVs9wt17QE);
  min-width: 0;
}
.freeBox__oe771 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  max-width: 100%;
  grid-column-end: span 2;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__oe771 {
    grid-column-end: span 1;
  }
}
.reveal__hkTOq:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.youTube:global(.__wab_instance) {
  height: 390px;
  width: 100%;
  max-height: 100%;
  max-width: 100%;
  position: relative;
  min-width: 0;
}
.freeBox___6GDp5 {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal__aLRtm:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__rmWoy {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.img__aaqoK {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 175px;
}
.img__aaqoK > picture > img {
  object-fit: cover;
}
.text__gFe95 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__wjJxm {
  position: relative;
  font-size: var(--token-IiHVs9wt17QE);
}
.freeBox__cxZhv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  max-width: 100%;
  padding: 8px;
}
.reveal___2A00N:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.freeBox__vKg6N {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__vKg6N > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__vKg6N > :global(.__wab_flex-container) > *,
.freeBox__vKg6N > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__vKg6N > :global(.__wab_flex-container) > picture > img,
.freeBox__vKg6N
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__rPnez {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__unwpO {
  position: relative;
  font-size: var(--token-IiHVs9wt17QE);
}
.freeBox__dsLb {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: calc(146px + 0px) !important;
  min-width: 0;
  padding: 8px;
}
.freeBox__lr4J {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: auto;
  height: 100%;
  max-width: 100%;
  margin-right: 46px;
  min-height: 0;
  padding: 25px 8px 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lr4J {
    margin-right: 0px;
  }
}
.freeBox___0XTeo {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 48px;
  height: 48px;
  max-width: 100%;
  background: #ffffff;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
}
.text__iDi {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #000000;
  font-weight: 700;
  font-size: var(--token-IiHVs9wt17QE);
}
.freeBox___4Vr3D {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 3px;
  height: auto;
  max-width: 100%;
  left: 31px;
  top: -200px;
  background: linear-gradient(
      0deg,
      #ffffff00 0%,
      #ffffff40 29%,
      #ffffff40 71%,
      #ffffff00 100%
    )
    0% 0% / 100% 100% repeat;
  bottom: -200px;
}
.freeBox__h3T6S {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 1098px;
  height: auto;
  max-width: 100%;
  min-height: 400px;
  grid-row-gap: 64px;
  grid-column-gap: 32px;
  flex-shrink: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__h3T6S {
    grid-template-columns: 1fr;
  }
}
.freeBox__lRmuv {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  grid-column-end: span 2;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__lRmuv {
    grid-column-end: span 1;
  }
}
.h2__kKsn {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 21px;
  min-width: 0;
}
.text__a92Uj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 688px;
  font-size: var(--token-IiHVs9wt17QE);
  min-width: 0;
}
.freeBox__gFRpJ {
  display: flex;
  position: relative;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.img__tHChx {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 196px;
}
.img__tHChx > picture > img {
  object-fit: cover;
}
.freeBox__ldAP {
  display: flex;
  position: relative;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
  max-width: 100%;
  margin-top: 25px;
  min-width: 0;
  padding: 8px;
}
.freeBox__pWXa {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 128px;
  height: 128px;
  max-width: 100%;
  background: none;
  flex-shrink: 0;
  border-radius: 999px;
  padding: 8px;
  border: 8px solid #30ff59;
}
.text__bvJtk {
  width: auto;
  height: auto;
  max-width: 800px;
  color: #ffffff;
  font-weight: 700;
  font-size: 48px;
}
.text__zoHrE {
  position: relative;
  font-size: var(--token-IiHVs9wt17QE);
  margin-left: 24px;
}
.freeBox__iyqt0 {
  display: flex;
  position: relative;
  flex-direction: column;
  max-width: 100%;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__iyqt0 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__iyqt0 > :global(.__wab_flex-container) > *,
.freeBox__iyqt0 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__iyqt0 > :global(.__wab_flex-container) > picture > img,
.freeBox__iyqt0
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.text__lJHg {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  font-weight: 700;
  font-size: 72px;
  background: linear-gradient(0deg, #ae609e 0%, #f2d599 100%) 0% 0% / 100% 100%
    repeat padding-box /* clip: text **/;
  color: #eeeeee00;
  min-width: 0;
  background-clip: text;
  -webkit-background-clip: text;
}
.text__cyOoX {
  position: relative;
  font-size: var(--token-IiHVs9wt17QE);
}
.h1__dvUCv {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  margin-bottom: 32px;
  text-align: center;
  margin-top: calc(256px + 0px) !important;
  min-width: 0;
}
.freeBox__p3HvZ {
  display: flex;
  position: relative;
  flex-direction: column;
  width: 1128px;
  height: auto;
  max-width: 100%;
  margin-top: calc(186px + 0px) !important;
  padding: 8px;
}
.freeBox__p3HvZ > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;
  margin-top: calc(0px - 51px);
  height: calc(100% + 51px);
}
.freeBox__p3HvZ > :global(.__wab_flex-container) > *,
.freeBox__p3HvZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__p3HvZ > :global(.__wab_flex-container) > picture > img,
.freeBox__p3HvZ
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 51px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p3HvZ {
    display: flex;
    flex-direction: column;
    margin-top: calc(186px + 0px) !important;
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p3HvZ > :global(.__wab_flex-container) {
    flex-direction: column;
    margin-left: calc(0px - 0px);
    width: calc(100% + 0px);
  }
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__p3HvZ > :global(.__wab_flex-container) > *,
  .freeBox__p3HvZ > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
  .freeBox__p3HvZ > :global(.__wab_flex-container) > picture > img,
  .freeBox__p3HvZ
    > :global(.__wab_flex-container)
    > :global(.__wab_slot)
    > picture
    > img {
    margin-left: 0px;
  }
}
.freeBox__dI7Cs {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__dI7Cs {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__evJ1W {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__evJ1W > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__evJ1W > :global(.__wab_flex-container) > *,
.freeBox__evJ1W > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__evJ1W > :global(.__wab_flex-container) > picture > img,
.freeBox__evJ1W
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__i9SAx {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__vjBb0 {
  position: relative;
}
.button__zzJm6:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg___7Fzmh {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__u2RlG {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__cs4Oe {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__cs4Oe {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.freeBox__jzoB2 {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__jzoB2 {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__c78Ol {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__c78Ol > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__c78Ol > :global(.__wab_flex-container) > *,
.freeBox__c78Ol > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__c78Ol > :global(.__wab_flex-container) > picture > img,
.freeBox__c78Ol
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__qigH {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text___8R61C {
  position: relative;
}
.button__eZeYc:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__wil6H {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__xqY6Q {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__elvJn {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__elvJn {
    margin-top: 8px;
    margin-left: 8px;
  }
}
.freeBox__cTFme {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox__cTFme {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__fnSEx {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__fnSEx > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__fnSEx > :global(.__wab_flex-container) > *,
.freeBox__fnSEx > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fnSEx > :global(.__wab_flex-container) > picture > img,
.freeBox__fnSEx
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__aBz3K {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__vU9YD {
  position: relative;
}
.button__nFPmr:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__t8Dc3 {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__n4TNc {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__slLn4 {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__slLn4 {
    margin-left: 8px;
    margin-top: 8px;
  }
}
.freeBox___31FOs {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .freeBox___31FOs {
    display: flex;
    flex-direction: column-reverse;
    justify-content: flex-end;
    align-items: flex-start;
  }
}
.freeBox__fvvr7 {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  width: 100%;
  min-width: 0;
  border-radius: 8px;
  padding: 8px;
  border: 1px solid #2e2e2e;
}
.freeBox__fvvr7 > :global(.__wab_flex-container) {
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  min-width: 0;
  margin-top: calc(0px - 12px);
  height: calc(100% + 12px);
}
.freeBox__fvvr7 > :global(.__wab_flex-container) > *,
.freeBox__fvvr7 > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fvvr7 > :global(.__wab_flex-container) > picture > img,
.freeBox__fvvr7
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-top: 12px;
}
.h3__n40I1 {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  min-width: 0;
}
.text__iMeY {
  position: relative;
}
.button__bI6J0:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
  margin-top: calc(24px + 12px) !important;
}
.svg__xl2Ma {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__vQ2X {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__g7KDv {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  color: #ffffff;
  width: 32px;
  height: 32px;
  flex-shrink: 0;
  margin: 32px;
}
@media (min-width: 0px) and (max-width: 768px) {
  .svg__g7KDv {
    margin-top: 8px;
    margin-left: 8px;
  }
}
.img__ddifQ {
  position: relative;
  object-fit: cover;
  max-width: 100%;
  width: 460px;
  margin-top: calc(336px + 0px) !important;
}
.img__ddifQ > picture > img {
  object-fit: cover;
}
.h2__xxeVj {
  position: relative;
  width: 100%;
  height: auto;
  max-width: 800px;
  text-align: center;
  min-width: 0;
}
.freeBox__fbE0F {
  display: flex;
  position: relative;
  flex-direction: row;
  width: 100%;
  height: auto;
  max-width: 100%;
  min-width: 0;
  padding: 8px;
}
.freeBox__fbE0F > :global(.__wab_flex-container) {
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-width: 0;
  margin-left: calc(0px - 10px);
  width: calc(100% + 10px);
}
.freeBox__fbE0F > :global(.__wab_flex-container) > *,
.freeBox__fbE0F > :global(.__wab_flex-container) > :global(.__wab_slot) > *,
.freeBox__fbE0F > :global(.__wab_flex-container) > picture > img,
.freeBox__fbE0F
  > :global(.__wab_flex-container)
  > :global(.__wab_slot)
  > picture
  > img {
  margin-left: 10px;
}
.button__yfvr5:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg___6DWtO {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__amj9N {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.button__mDPxn:global(.__wab_instance) {
  max-width: 100%;
  position: relative;
}
.svg__udCQb {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
.svg__y8SQl {
  position: relative;
  object-fit: cover;
  width: auto;
  height: 1em;
}
